<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3><%= t('titles.log_in')%></h3>
      <%= simple_form_for @user, url: session_path(resource_name) do |f| %>

        <%= f.error_notification %>
        <div class="mb-3">
          <%= f.input :email %>
        </div>

        <div class="mb-3">
          <%= f.input :password %>
        </div>

        <div class="mb-3">
          <%= f.input :remember_me, :label_html => { :class => 'label_type' },
                    wrapper: :vertical_boolean, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <%= f.button :submit, t('buttons.sign_in'), class: "btn btn-primary" %>

      <% end %>
      <p></p>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
