<%= simple_form_for @user, html: {multipart: true} do |f| %>

  <%= f.error_notification %>

  <div class="mb-3">
    <%= f.input :name, required: false %>
  </div>
  <div class="mb-3">
    <%= f.input :email  %>
  </div>
  <div class="actions">
    <%= f.button :submit, t('buttons.save'), class: 'btn-primary' %>
    или <%= link_to t('buttons.back'), :back, class: 'btn btn-secondary btn-sm' %>
  </div>

<% end %>
