<%= simple_form_for @event do |f| %>

  <%= f.error_notification %>

  <div class="mb-3">
    <%= f.input :title %>
  </div>

  <div class="mb-3">
    <%= f.input :address %>
  </div>

  <div class="mb-3">
    <%= f.input :datetime, as: :datetime %>
  </div>

  <div class="mb-3">
    <%= f.input :description %>
  </div>

  <%= f.button :submit, t('buttons.save'), class: "btn-primary" %>
  <%= t('text.or') %>
  <%= link_to t('buttons.back'), :back, class: 'btn btn-secondary btn-sm' %>

<% end %>