<h1><%= t('titles.pincode') %></h1>

<%=  simple_form_for('', method: 'post') do |f| %>
  <%= f.error_notification %>

  <div class="col-md-4 mb-3">
    <%= label :pincode, t('activerecord.attributes.event.pincode'), class: 'form-label' %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= submit_tag t('buttons.send'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('buttons.return'), events_path %>
