<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
                      style: "background-image: url(#{event_photo(@event)})"  %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <p></p>
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :short %></h3>
            <h3><small><%= link_to @event.address,
                                   "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="buffer-top">
              <%= link_to t('buttons.change'), edit_event_path(@event), class: 'btn btn-primary' %>
              <%= link_to t('buttons.delete'), event_path(@event),
                          method: :delete, data: { confirm: t('confirmation.are_you_sure') }, class: 'btn btn-danger' %>
            </div>
          <% end %>
          <p></p>
        </div>
      </div>

    </div>
  </div>

  <!-- Навигация -->
  <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="flex-sm-fill text-sm-center nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#tab-comments" type="button" role="tab" aria-selected="true">
        <%= t('titles.discussion')%>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="flex-sm-fill text-sm-center nav-link active" id="photo-tab" data-bs-toggle="tab" data-bs-target="#tab-photos" type="button" role="tab" aria-selected="false">
        <%= t('titles.photos')%>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="flex-sm-fill text-sm-center nav-link" id="subscriptions-tab" data-bs-toggle="tab" data-bs-target="#tab-subscriptions" type="button" role="tab" aria-selected="false">
        <%= t('titles.participants')%>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="flex-sm-fill text-sm-center nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#tab-map" type="button" role="tab" aria-selected="false">
        <%= t('titles.location')%>
      </button>
    </li>
  </ul>

  <!-- Табы -->
  <div class="tab-content" id="myTab">
    <div class="tab-pane fade" role="tabpanel" id="tab-comments">
      <div class="event-comments buffer-top">
        <div class="buffer-both">
          <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
        </div>
          <%= render partial: 'comments/form', locals: {comment: @new_comment || @event.comments.build} %>
      </div>
    </div>

    <div class="tab-pane fade" role="tabpanel" id="tab-subscriptions">
      <div class="event-owner buffer-top">
        <h4><%= t('subscriptions.call')%></h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>

      <div class="event-subscriptions buffer-top">
        <h4><%= t('subscriptions.will_go') if @event.subscriptions.except(@new_subscription).any? %></h4>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription',
                       collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>

      <% unless can_subscribe?(@event) %>
        <div class="event-subscription-form buffer-top" >
          <h4><%= t('subscriptions.i_will_go') %></h4>
          <div>
            <%= render partial: 'subscriptions/form', locals: {
              subscription: @new_subscription || @event.subscriptions.build
            } %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-pane show active" role="tabpanel" id="tab-photos">
      <div class="event-photos buffer-top">
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
            </ul>
          </div>
          <% if @event.photos.except(@new_photo).any? %>
            <div class="glide__arrows buffer-top" data-glide-el="controls">
              <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img src="https://img.icons8.com/stickers/30/000000/circled-left.png"/></button>
              <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img src="https://img.icons8.com/stickers/30/000000/circled-right.png"/></button>
            </div>
          <% end %>
          <div class="glide__bullets" data-glide-el="controls[nav]">
            <%= render partial: 'photos/count', collection: @event.photos.except(@new_photo) %>
          </div>
        </div>
        <% if current_user.present? %>
          <div class="event-photo-form">
            <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" role="tabpanel" id="tab-map">
      <div id="map" data-address="<%= @event.address %>" class="event-map buffer-top"></div>
    </div>
  </div>
</div>
