<%= simple_form_for [@event, photo], html: {multipart: true} do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% if user_signed_in? %>
    <div class="form-inputs">
      <div class="row">
        <div class="col-sm-4">
          <p><%= f.input :photo, as: :file, error: t('errors.photo') %></p>
        </div>
      </div>
    </div>


  <div class="form-actions">
    <%= f.button :submit, t('buttons.upload'), class: 'btn btn-info' %>
  </div>

  <% end %>
<% end %>

