<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3>Забыли пароль?</h3>
      <%= simple_form_for resource, url: password_path(resource_name), html: { method: :post } do |f| %>

        <%= f.error_notification %>

        <%= f.input :email, placeholder: t('simple_form.placeholders.passwords.email'),
                    autofocus: true, autocomplete: 'email' %>

        <%= f.button :submit, t('buttons.send_instructions'), class: "btn-primary" %>

      <% end %>
      <p></p>
      <%= render "users/shared/links" %>
      <p></p>
    </div>
  </div>
</div>


